Binomial Distribution

The probability of a man hitting the target at a shooting range is 1/4. 

If he shoots 10 times, what is the probability that he hits the target exactly three times?

What is the probability that he hits the target exactly three times?

In [1]:
from scipy.stats import binom,norm

In [2]:
#it takes n and p as parameters
#it returns mean and variance
n = 20
p = .5
binom.stats(n, p)

(array(10.), array(5.))

In [3]:
#it takes parameters r,n,p
r = 3
n = 10
p = 1/4
binom.pmf(r,n,p)

0.2502822875976565

z test python

![Critical-z-values-used-in-the-calculation-of-confidence-intervals.png]()

A simple random sample of 50 adults womens is obtained, and each person's red blood cell count (in cells per microliter) is measured The sample mean is 4.63. 
The population standard deviation for red blood cell counts is 0.54.

Construct the 95% confidence interval estimate for the mean red blood cell counts of adults.

In [4]:
import math

In [5]:
n = 50
mean = 4.63
standard_deviation = 0.54
z = 1.96

In [6]:
mean-z*(standard_deviation/math.sqrt(n)),mean+z*(standard_deviation/math.sqrt(n))

(4.4803196365584315, 4.779680363441568)

p value method

A sample of 40 new baseballs had a bounce height mean of 92.67 inches and a SD of 1.79 inches. 
Use a .05 sig. level to determine whether there is sufficient evidence to support the claim that the new balls have bounce heights with a mean different from 92.84 inches.

In [7]:
n = 40
mean1 = 92.84
mean2 = 92.67
standard_deviation = 1.79
z = 1.64

In [8]:
abs_mean = abs(mean1-mean2)
z_value = abs_mean/(standard_deviation/math.sqrt(n))
print(f'z_value : {z_value}')

z_value : 0.6006560918755641

In [9]:
p_value = norm.sf(abs(z_value)) 

print(f'actual p value : {p_value}')
print(f'p_value for lower tail (AUC): {1 - p_value}')
print(f'p_value for upper tail : {p_value}')
print(f'p_value for two tail : {2*p_value}')

actual p value : 0.2740345348370262
p_value for lower tail (AUC): 0.7259654651629738
p_value for upper tail : 0.2740345348370262
p_value for two tail : 0.5480690696740524

Decision on hypothesis testing

In [10]:
value = 0.5480
alpha = 0.05
if value > alpha:
    print ('Fail to reject null hypothesis')
else:
    print ('Reject null hypothesis')

Fail to reject null hypothesis



---

A = [1,2,5,8,4,9,10,1,3,5,7]

B = [2,8,11,14,17,8,99,3,2,1,2]

output = [1,8,5,14,4,8,10,3,3,1,7]

In [11]:
A = [1,2,5,8,4,9,10,1,3,5,7]

B = [2,8,11,14,17,8,99,3,2,1,2]

In [12]:
a = {k:v for k,v in enumerate(A) if k %2==0}
b = {k:v for k,v in enumerate(B) if k %2!=0}

In [13]:
c = {**a,**b}
sorted_data = sorted(c.items(), key = lambda kv: kv[0])

In [14]:
output = [x[1] for x in sorted_data]
output

[1, 8, 5, 14, 4, 8, 10, 3, 3, 1, 7]

In [15]:
T=(1,2,3)
T=[1,2,3]
#this gives an error
#T={1,2,3}
T*2

[1, 2, 3, 1, 2, 3]

In [16]:
word = 'learn'
list(word)

['l', 'e', 'a', 'r', 'n']

In [17]:
# or means if anyone is true it will give True
# or follows addition rule
False or False,False or True

(False, True)

In [18]:
# and means if anyone is False it will give False
# and follows multiplication rule 
False and False,False and True

(False, False)

In [19]:
a = True 
b = False 
c = True 

if not a or b : 
    print ("a")
elif not a or not b and c:
    print ("b")
elif not a or b or not b and a:
    print ("c")
else:
    print("d")

b

In [20]:
#thus still holds true but as before condition got satisfied it broke the loop
not a or b or not b and a

True

In [21]:
import pandas as pd 
S1 = pd.Series([0, 2, 4, 6, 8, 10, 121])
S2 = pd.Series([0, 3, 6, 9, 12, 15])

S1[~S1.isin(S2)]

1      2
2      4
4      8
5     10
6    121
dtype: int64

In [22]:
def addn(*args):
  return (sum(args))

print(addn(1,2,3,4))
print(addn(5,6))

10
11

In [23]:
list_1 = [1,2,3]
list_2 = [4,5,6]

import numpy as np
np.array(list_1) + np.array(list_2)

list_1 + list_2

[1, 2, 3, 4, 5, 6]

In [24]:
import pandas as pd 
s1 = pd.Series([0,2,4,6,8,10,12])
s2 = pd.Series([0,3,6,9,12,15])

print(s1[s1.isin(s2)].index)
print(s2[s2.isin(s1)].index)
print(s1[s1.isin(s2)].index == s2[s2.isin(s1)].index)

Int64Index([0, 3, 6], dtype='int64')
Int64Index([0, 2, 4], dtype='int64')
[ True False False]

In [25]:
s = "Naian"
# Check if the given string is a palindrome or not? Naian, Madam
s = s.lower()
s == s[::-1]

True

In [26]:
l = "I love Python"
# Return the reverse of the the given string: Python love I

a = l.split(" ")
a

['I', 'love', 'Python']

In [27]:
a[::-1]

['Python', 'love', 'I']

In [28]:
" ".join(a[::-1])

'Python love I'

In [29]:
l = ['A', 'B', 'C', 'D', 'E']

# Given the list, find the elements that are at even index position
o = []
for i in range(len(l)):
    if i%2==0:
        o.append(l[i])
o

['A', 'C', 'E']

In [30]:
# enumerate()
list(enumerate(l))

[(0, 'A'), (1, 'B'), (2, 'C'), (3, 'D'), (4, 'E')]

In [31]:
for i,j in enumerate(l):
    if i%2==0:
        print(j)

A
C
E

In [32]:
# ZIP

l1 = ['a', 'b', 'c', 'd']
l2 = [1,2,2,4]

# You are given with two list, l1 is having name of students
# while l2 is having their rank in the class.

# Find those students having the second lowest rank

# Step1: Find the second lowest grade
s = sorted(list(set(l2)))[1]

# Find the student name with the second lowest garde
for i,j in zip(l1, l2):
    if j == s:
        print(i)

b
c

In [33]:
l1 = ['a', 'b', 'c', 'd']
l2 = ['d', 'e', 'g', 'c']

# Find those elements which are present in both the lists


list(set(l1).intersection(set(l2)))

['d', 'c']

In [34]:
import numpy as np
a = np.arange(1, 10)

In [35]:
a.shape

(9,)

In [36]:
b = a.reshape(3,3)
b

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [37]:
# Rows to column -- columns to row
b.T

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])

In [38]:
# linspace(start, end, number of elements between start and end)
np.linspace(1, 10,100)

array([ 1.        ,  1.09090909,  1.18181818,  1.27272727,  1.36363636,
        1.45454545,  1.54545455,  1.63636364,  1.72727273,  1.81818182,
        1.90909091,  2.        ,  2.09090909,  2.18181818,  2.27272727,
        2.36363636,  2.45454545,  2.54545455,  2.63636364,  2.72727273,
        2.81818182,  2.90909091,  3.        ,  3.09090909,  3.18181818,
        3.27272727,  3.36363636,  3.45454545,  3.54545455,  3.63636364,
        3.72727273,  3.81818182,  3.90909091,  4.        ,  4.09090909,
        4.18181818,  4.27272727,  4.36363636,  4.45454545,  4.54545455,
        4.63636364,  4.72727273,  4.81818182,  4.90909091,  5.        ,
        5.09090909,  5.18181818,  5.27272727,  5.36363636,  5.45454545,
        5.54545455,  5.63636364,  5.72727273,  5.81818182,  5.90909091,
        6.        ,  6.09090909,  6.18181818,  6.27272727,  6.36363636,
        6.45454545,  6.54545455,  6.63636364,  6.72727273,  6.81818182,
        6.90909091,  7.        ,  7.09090909,  7.18181818,  7.27272727,
        7.36363636,  7.45454545,  7.54545455,  7.63636364,  7.72727273,
        7.81818182,  7.90909091,  8.        ,  8.09090909,  8.18181818,
        8.27272727,  8.36363636,  8.45454545,  8.54545455,  8.63636364,
        8.72727273,  8.81818182,  8.90909091,  9.        ,  9.09090909,
        9.18181818,  9.27272727,  9.36363636,  9.45454545,  9.54545455,
        9.63636364,  9.72727273,  9.81818182,  9.90909091, 10.        ])

In [39]:
import pandas as pd

In [40]:
df_1 = pd.DataFrame({"Name": ["Sumit", "Rajat", "Shukla", "Ruchi"], "Age": [18,22,25,28], "Edu":["B.Tech", "B.Tech", "Mbbs", "MBA"], "Dept":["HR", "TECH", "DATA", "IT"]})
df_2 = pd.DataFrame({"Name": ["Ajay", "Atul", "Sanjay"], "Age": [18,22,25], "Edu":["B.Tech", "B.Tech", "Mbbs"]})

In [41]:
df_1.head()

     Name  Age     Edu  Dept
0   Sumit   18  B.Tech    HR
1   Rajat   22  B.Tech  TECH
2  Shukla   25    Mbbs  DATA
3   Ruchi   28     MBA    IT

In [42]:
df_2.head()

     Name  Age     Edu
0    Ajay   18  B.Tech
1    Atul   22  B.Tech
2  Sanjay   25    Mbbs

In [43]:
# axis = 0: Rows
# aixs = 1: Columns
pd.concat([df_1, df_2], axis = 0)

     Name  Age     Edu  Dept
0   Sumit   18  B.Tech    HR
1   Rajat   22  B.Tech  TECH
2  Shukla   25    Mbbs  DATA
3   Ruchi   28     MBA    IT
0    Ajay   18  B.Tech   NaN
1    Atul   22  B.Tech   NaN
2  Sanjay   25    Mbbs   NaN

In [44]:
pd.concat([df_1, df_2], axis = 1)

     Name  Age     Edu  Dept    Name   Age     Edu
0   Sumit   18  B.Tech    HR    Ajay  18.0  B.Tech
1   Rajat   22  B.Tech  TECH    Atul  22.0  B.Tech
2  Shukla   25    Mbbs  DATA  Sanjay  25.0    Mbbs
3   Ruchi   28     MBA    IT     NaN   NaN     NaN

In [45]:
# append is specific to rows only
df_1.append(df_2)

     Name  Age     Edu  Dept
0   Sumit   18  B.Tech    HR
1   Rajat   22  B.Tech  TECH
2  Shukla   25    Mbbs  DATA
3   Ruchi   28     MBA    IT
0    Ajay   18  B.Tech   NaN
1    Atul   22  B.Tech   NaN
2  Sanjay   25    Mbbs   NaN

In [46]:
a = pd.Series(['A', 'B', 'C', 'D'])

In [47]:
a[a.isin(['A', 'B'])]

0    A
1    B
dtype: object



---

Pattern

In [48]:
n=10
for x in range(1,n+1):
    print(" "*(x+1)+"_"*x)

  _
   __
    ___
     ____
      _____
       ______
        _______
         ________
          _________
           __________

In [49]:
n=5
for y in range(1,n):
    print("_"*(n-1-y)+"*"*(y)+"*"*(y-1)+"_"*(n-1-y))

___*___
__***__
_*****_
*******

In [50]:
n=10
for y in range(1,n):
    print(" "*(n-y)+"*"*(y)+"*"*(y-1))
for y in range(n,0,-1):
    print(" "*(n-y)+"*"*(y)+"*"*(y-1))

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************
 *****************
  ***************
   *************
    ***********
     *********
      *******
       *****
        ***
         *

In [51]:
n = 5
for x in range (1,n+1):
    print(' '*x + '*'*(n+1-x))

 *****
  ****
   ***
    **
     *