Binomial Distribution

In [1]:
from scipy.stats import binom,norm

In [2]:
#it takes n and p as parameters
#it returns mean and variance
n = 20
p = .5
binom.stats(n, p)

(array(10.), array(5.))

In [3]:
#it takes parameters r,n,p
r = 3
n = 10
p = 1/4
binom.pmf(r,n,p)

0.2502822875976565

z test python

In [4]:
import math

In [5]:
n = 49
mean = 6
standard_deviation = 1.2
z = 1.96

In [6]:
mean-z*(standard_deviation/math.sqrt(n)),mean+z*(standard_deviation/math.sqrt(n))

(5.664, 6.336)

p value method

In [7]:
n = 40
mean1 = 92.84
mean2 = 92.67
standard_deviation = 1.79
z = 1.64

In [8]:
abs_mean = abs(mean1-mean2)
z_value = abs_mean/(standard_deviation/math.sqrt(n))
print(f'z_value : {z_value}')

z_value : 0.6006560918755641

In [9]:
p_value = norm.sf(abs(z_value)) 

print(f'actual p value : {p_value}')
print(f'p_value for lower tail (AUC): {1 - p_value}')
print(f'p_value for upper tail : {p_value}')
print(f'p_value for two tail : {2*p_value}')

actual p value : 0.2740345348370262
p_value for lower tail (AUC): 0.7259654651629738
p_value for upper tail : 0.2740345348370262
p_value for two tail : 0.5480690696740524

Decision on hypothesis testing

In [10]:
value = 0.5480
alpha = 0.05
if value > alpha:
    print ('Fail to reject null hypothesis')
else:
    print ('Reject null hypothesis')

Fail to reject null hypothesis



---

A = [1,2,5,8,4,9,10,1,3,5,7]

B = [2,8,11,14,17,8,99,3,2,1,2]

output = [1,8,5,14,4,8,10,3,3,1,7]

In [11]:
A = [1,2,5,8,4,9,10,1,3,5,7]

B = [2,8,11,14,17,8,99,3,2,1,2]

In [12]:
a = {k:v for k,v in enumerate(A) if k %2==0}
b = {k:v for k,v in enumerate(B) if k %2!=0}

In [13]:
c = {**a,**b}
sorted_data = sorted(c.items(), key = lambda kv: kv[0])

In [14]:
output = [x[1] for x in sorted_data]
output

[1, 8, 5, 14, 4, 8, 10, 3, 3, 1, 7]

In [15]:
T=(1,2,3)
T=[1,2,3]
#this gives an error
#T={1,2,3}
T*2

[1, 2, 3, 1, 2, 3]

In [16]:
def addn(*args):
  return (sum(args))

print(addn(1,2,3,4))
print(addn(5,6))

10
11

In [17]:
list_1 = [1,2,3]
list_2 = [4,5,6]

import numpy as np
np.array(list_1) + np.array(list_2)

list_1 + list_2

[1, 2, 3, 4, 5, 6]

In [18]:
import pandas as pd 
s1 = pd.Series([0,2,4,6,8,10,12])
s2 = pd.Series([0,3,6,9,12,15])

print(s1[s1.isin(s2)].index)
print(s2[s2.isin(s1)].index)
print(s1[s1.isin(s2)].index == s2[s2.isin(s1)].index)

Int64Index([0, 3, 6], dtype='int64')
Int64Index([0, 2, 4], dtype='int64')
[ True False False]

In [19]:
n=10
for x in range(1,n+1):
    print(" "*(x+1)+"_"*x)

  _
   __
    ___
     ____
      _____
       ______
        _______
         ________
          _________
           __________

In [20]:
n=5
for y in range(1,n):
    print("_"*(n-1-y)+"*"*(y)+"*"*(y-1)+"_"*(n-1-y))

___*___
__***__
_*****_
*******

In [21]:
n=10
for y in range(1,n):
    print(" "*(n-y)+"*"*(y)+"*"*(y-1))
for y in range(n,0,-1):
    print(" "*(n-y)+"*"*(y)+"*"*(y-1))

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************
 *****************
  ***************
   *************
    ***********
     *********
      *******
       *****
        ***
         *

In [22]:
n = 5
for x in range (1,n+1):
    print(' '*x + '*'*(n+1-x))

 *****
  ****
   ***
    **
     *